* {
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100vw;
    margin: 0px 0px;
    
}

#answer-buttons {
    display: flex;
    flex-direction: column;
}

.button {
    margin: 5px 0px;
    /*width: 49%;*/
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.container {
    width: 20%;
    max-width: 80%;
    background-color: antiquewhite;
    border-radius: 5px;

}